.sideBar-container{
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    border: 0.5px solid gray;
    border-radius: 10px;
    max-height: 300px;
    min-width: 160px;
    background-color: white;
    font-size: 12px;
}
.change-cash{
    margin: 0 auto 50px;
}
.filter-stops {
    padding: 8px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}